<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
    <servlet-name>Registerserver</servlet-name>
    <servlet-class>com.lzp.Registerserver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registerserver</servlet-name>
    <url-pattern>/server/Registerserver</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Loginserver</servlet-name>
    <servlet-class>com.lzp.Loginserver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginserver</servlet-name>
    <url-pattern>/server/Loginserver</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginOut</servlet-name>
    <servlet-class>com.lzp.LoginOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOut</servlet-name>
    <url-pattern>/server/Loginout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TargetClientAddress</servlet-name>
    <servlet-class>com.lzp.TargetClientAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TargetClientAddress</servlet-name>
    <url-pattern>/server/Targetclientaddress</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TargetFriend</servlet-name>
    <servlet-class>com.lzp.TargetFriend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TargetFriend</servlet-name>
    <url-pattern>/server/Targetfriend</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>